*{
  margin:0;
  color:#fff;
  font-family: 'Bad Script', cursive;
}


header{

  position:fixed;
  background: rgba(0, 0, 0, 0.8);
  width:100%;  
  height:;    
  z-index: 1001;
  border-radius: 10px 10px 10px 10px;


}

nav img {
 position: relative;
 background:#fff;
 left:50px;

}


.menu li a{
  display: block;
  position:relative;
  font-size:20px;
  margin:10px;
  color:#fff;
   padding: 10px;
  text-decoration:none;
  top:30px;
  font-family: 'Bad Script', cursive;


}



   body{
    color:#00FF00;
    font-size:20px;
    background: url(imagen/tabla.jpg) no-repeat center top ; ;

  }



  .contenido-seccion{
    position: relative;
    margin-top:150px;
  }



  .p{
    color:#00FF00; ;
    font-family: 'Spicy Rice', cursive;

  }



  .texto{
   color: #fff;
   background:;
   font-size: 25px;
   font-family: 'Spicy Rice', cursive;

 }



 .borde2{
  position: relative;
  top:150px;
  

}



.border2{
  position:relative;
  top:200px;
  background: ;
  font-family: 'Oswald', sans-serif;
}



.border3{
  font-family: 'Oswald', sans-serif;
  position: relative;
  top:300px;
}


.border4{
  font-family: 'Oswald', sans-serif;
  position: relative;
  top:400px;
}


.border5{
  position: relative;
  top:500px;


}


hr{
  background-color:#00FF00 ;  

}

 
 footer{
  top:600px;
  position: relative;
  width:100%;
  height: auto;
  font-size:12px ;
  font-family: 'Spicy Rice', cursive;
}


footer p{

  font-family: 'Bad Script', cursive;
}



















