*{
  margin:0;
  color:#fff;
  font-family: 'Bad Script', cursive;
}



header{
  position:fixed;
  background: rgba(0, 0, 0, 0.8);
  width:100%;  
  height:;    
  z-index: 1001;
  border-radius: 10px 10px 10px 10px;


}

.facebook{
  position: relative;
  top:40px;
  left:20px;
  background:#fff;
  border-radius: 5px 5px 5px 5px;
}


.menu li a{
  display: block;
  position:relative;
  font-size:20px;
  margin:10px;
  color:#fff;
  text-decoration:none;
  top:30px;
  padding: 10px;
  font-family: 'Bad Script', cursive;


}


hr{
  background-color:#00FF00;
  top:30px;  

}


.texto{
 color: #fff;
 background:;
 font-size: 25px;
 font-family: 'Spicy Rice', cursive;

}


.p{
  color:#00FF00; ;
  font-family: 'Spicy Rice', cursive;

}


nav img {
  position: relative;
  background:red;
  left:50px;
  

}

.face{
  position: relative;
  right: 50px;
  background: ;
}

body{
  color:#00FF00;
  font-size:20px;
  background: url(imagen/tabla.jpg) no-repeat center top ; ;

}


.contenido-seccion{
  position: relative;
  margin-top: 130px;
}


    .parrafo{
     display:none;
     position:absolute;
     background: #ccc;
     left:0px;
     bottom: 0px;
     width: 100%;
     padding: 3px;

   }


   .borde2{
    position: relative;
    top:150px;
    
  }


  .border2{
    position: relative;
    top:200px;
  }


  .border3{
    position: relative;
    top:300px;
  }


  .border4{
    position: relative;
    top:400px;
  }



  .border5{
    position: relative;
    top:500px;
  }


  .border6{
    position: relative;
    top:600px;
  }


  .border7{
    position: relative;
    top:700px;
    
  }


  footer{
    top:800px;
    position: relative;
    width:100%;
    height: auto;
    font-size:12px ;
    font-family: 'Spicy Rice', cursive;
  }


  footer p{
    font-family: 'Bad Script', cursive;
  }


