*{
  margin:0;
  color:#fff;
  font-family: 'Bad Script', cursive;
}



header{
  position:fixed;
  background: rgba(0, 0, 0, 0.8);
  width:100%;  
  height:;    
  z-index: 1001;
  border-radius: 10px 10px 10px 10px;


}

.menu li a{
  display: block;
  position:relative;
  font-size:20px;
  margin:10px;
  color:#fff;
  text-decoration:none;
  top:30px;
  padding: 10px;
  font-family: 'Bad Script', cursive;


}


.caja{

  position: relative;
  font-size: 30px;
  height: auto;
  background: rgba(0,0,0,0.2);


  
}
body{
  font-family: 'Architects Daughter', cursive;
  
  color:#fff;
  font-size:20px;
  background: url(imagen/tabla.jpg) no-repeat center top ;
  
}
.contenido-seccion{

  position: relative;
  margin-top: 130px;
}

.parrafo{
 display:none;
 position:absolute;
 background: #ccc;
 left:0px;
 bottom: 0px;
 width: 100%;
 padding: 3px;
 
}


.border2{
  position: relative;
  top:300px;
}
.border3{

  position: relative;
  top:250px;
  background: #fff;
}
.borde2{
  position: relative;
  top:200px;
}
hr{

  background-color:#00FF00;  

}


.texto{
  position: relative;
  color: #fff;
  background:;
  font-size: 25px;
  font-family: 'Spicy Rice', cursive;
  top:-50px;
}

footer{
  top:500px;
  position: relative;
  width:100%;
  height: auto;
  font-size:12px ;
  font-family: 'Spicy Rice', cursive;
}


footer p{
  font-family: 'Bad Script', cursive;
}


























